{block #content}

<h1>Firmy</h1>

<p><a href="{plink Employer:default}">Zaměstnanci</a> <a href="{plink Statistic:default}">Statistika</a>  <a href="{plink Homepage:default}">Menu</a></p>

<a href="{plink add}">Vytvoř</a>
<table border="1" width="100%">
    <tr>
        <th>Jméno</th>
        <th>Telefon</th>
        <th>Registrace</th>
        <th>Je plátce DPH?</th>
        <th colspan="2">Akce</th>

    </tr>
        {foreach $companies as $c}
            <tr>
                <td>{$c['name']}</td>
                <td>{$c['phone']}</td>
                <td>{$c['registered']}</td>
                <td>{$c['is_dph']}</td>
                <td><a href="{plink edit id => $c['id']}">Edituj</a></td>
                <td><a href="{plink delete id => $c['id']}">Odeber</a></td>
            </tr>
        {/foreach}
    </div>
</table>