{block #content}

<h1>Zaměstnanci</h1>

<p><a href="{plink Company:default}">Firmy</a> <a href="{plink Statistic:default}">Statistiky</a> <a href="{plink Homepage:default}">Menu</a></p>

<a href="{plink add}">Vytvoř</a>
<table border="1" width="100%">
    <tr>
        <th>Firma</th>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>Plat</th>
        <th>Daň</th>
        <th colspan="2">Akce</th>

    </tr>
        {foreach $employers as $e}
            <tr>
                <td>{$e->company->name} </td>
                <td>{$e->surname}</td>
                <td>{$e->firstname}</td>
                <td>{$e->salary}</td>
                <td>{$e->salary * 0.4}</td>
                <td><a href="{plink edit id => $e['id']}">Edituj</a></td>
                <td><a href="{plink delete id => $e['id']}">Odeber</a></td>
            </tr>
        {/foreach}
    </div>
</table>